/audio_files/*
/tiktok-reddit-bot-key.json
/__pycache__/*
/.metadata/
/ignore/*
/DS_Store
/go-backend/go.*
/subtitles.srt
/.DS_Store
/example.gif
/audio_files/*
/merging_files/*
/go-backend/.env
/svelte-app/node_modules/
/svelte-app/public/
/svelte-app/scripts
/svelte-app/package*
/svelte-app/README.md 
/svelte-app/rollup.config.js
/svelte-app.DS_Store
/example_videos/


